<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul class="menu-header">
        <li>Abra sua conta</li>
        <li>Investimentos</li>
        <li>Planos</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <form [formGroup]="formLogin"> 
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
          

            <app-login></app-login>
        
          </div>

        </div>
      </form>
    </div>
  </div>
</div>